# 1-Preprocess Candlesticks Data

### Import Data

In [1]:
import pandas as pd
import numpy as np
import os

# Folder path containing CSV files
folder_path = r"C:\Users\Mcc\Desktop\Data\Historical Data\Candlesticks\BTCUSDT-2024-04-01 - 2024-04-17\5M"
column_names = ["open_time", "open", "high", "low", "close", "volume", "close_time", "quote_volume", 'count', 'taker_buy_volume', 'taker_buy_quote_volume', 'ignore']
# Create an empty list to store DataFrames
dfs = []

# Iterate through each file in the folder
for file in os.listdir(folder_path):
    if file.endswith('.csv'):  # Check if the file is a CSV file
        file_path = os.path.join(folder_path, file)  # Get the full file path
        #df = pd.read_csv(file_path, header=None, names=column_names)  # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path) 
        dfs.append(df)  # Append the DataFrame to the list

# Concatenate all DataFrames in the list along the rows (axis=0) to merge them
df_candle =  pd.concat(dfs, axis=0, ignore_index=True)
df_candle.to_csv('BTCUSDT-5m-2020-01-2024-03.csv')

In [8]:
df_candle

,open,high,low,close,volume,quote_volume,count,taker_buy_volume,taker_buy_quote_volume
open_time,,,,,,,,,
2024-04-01 00:00:00,71363.0,71388.0,71200.0,71323.7,1551.338,1.106063e+08,21436,576.616,4.111328e+07
2024-04-01 00:05:00,71323.6,71339.7,71193.2,71295.3,630.072,4.489739e+07,11151,201.764,1.437777e+07
2024-04-01 00:10:00,71295.2,71295.3,71204.9,71230.0,451.267,3.214895e+07,6729,167.854,1.195777e+07
2024-04-01 00:15:00,71230.0,71286.6,71182.5,71286.6,623.674,4.442764e+07,8418,330.932,2.357946e+07
2024-04-01 00:20:00,71286.5,71286.9,71229.7,71261.4,202.889,1.445906e+07,5048,81.038,5.775295e+06
...,...,...,...,...,...,...,...,...,...
2024-04-17 23:35:00,61264.6,61316.6,61255.8,61295.8,432.715,2.651990e+07,6503,267.946,1.642198e+07
2024-04-17 23:40:00,61295.8,61342.4,61211.2,61292.8,277.856,1.702538e+07,5767,147.509,9.039543e+06
2024-04-17 23:45:00,61292.8,61329.8,61266.6,61294.8,298.062,1.827199e+07,5724,171.832,1.053416e+07
2024-04-17 23:50:00,61294.9,61348.9,61266.8,61266.8,336.258,2.061329e+07,5911,115.579,7.085577e+06
2024-04-17 23:55:00,61266.8,61266.8,61204.1,61254.5,259.874,1.591271e+07,5015,123.628,7.570519e+06

In [7]:
df_candle.drop(columns=['Unnamed: 0'], inplace=True)

In [3]:
df_candle['open_time'] = pd.to_datetime(df_candle['open_time'], unit='ms')
df_candle.set_index('open_time', inplace=True)

In [5]:
df_candle.drop(columns=['close_time'], inplace=True)
#df_candle['close_time'] = pd.to_datetime(df_candle['close_time'], unit='ms')

In [7]:
df_candle.drop(columns=['ignore'], inplace=True)

In [9]:
df_candle

,open,high,low,close,volume,quote_volume,count,taker_buy_volume,taker_buy_quote_volume
open_time,,,,,,,,,
2024-04-01 00:00:00,71363.0,71388.0,71200.0,71323.7,1551.338,1.106063e+08,21436,576.616,4.111328e+07
2024-04-01 00:05:00,71323.6,71339.7,71193.2,71295.3,630.072,4.489739e+07,11151,201.764,1.437777e+07
2024-04-01 00:10:00,71295.2,71295.3,71204.9,71230.0,451.267,3.214895e+07,6729,167.854,1.195777e+07
2024-04-01 00:15:00,71230.0,71286.6,71182.5,71286.6,623.674,4.442764e+07,8418,330.932,2.357946e+07
2024-04-01 00:20:00,71286.5,71286.9,71229.7,71261.4,202.889,1.445906e+07,5048,81.038,5.775295e+06
...,...,...,...,...,...,...,...,...,...
2024-04-17 23:35:00,61264.6,61316.6,61255.8,61295.8,432.715,2.651990e+07,6503,267.946,1.642198e+07
2024-04-17 23:40:00,61295.8,61342.4,61211.2,61292.8,277.856,1.702538e+07,5767,147.509,9.039543e+06
2024-04-17 23:45:00,61292.8,61329.8,61266.6,61294.8,298.062,1.827199e+07,5724,171.832,1.053416e+07
2024-04-17 23:50:00,61294.9,61348.9,61266.8,61266.8,336.258,2.061329e+07,5911,115.579,7.085577e+06
2024-04-17 23:55:00,61266.8,61266.8,61204.1,61254.5,259.874,1.591271e+07,5015,123.628,7.570519e+06

In [10]:
df_candle.to_csv('BTCUSDT-2024-04-01 - 2024-04-17 - 5M.csv')

# 2-Preprocessing Agg Data

### Import & Turn the Fractions into 1 & 5 minutes Candles of True & False Buyer Makers + Vdiff

In [3]:
import os
import pandas as pd
import numpy as np

folder_path = r"C:\Users\Mcc\Desktop\Data\Historical Data\Agg Volumes\BTCUSDT-aggTrades-2024-04-01 - 2024-04-17\COIN-M"
column_names = ["agg_trade_id", "price", "quantity", "first_trade_id", "last_trade_id", "transact_time", "is_buyer_maker"]

def remove_milliseconds(datetime_str):
    return datetime_str.strftime('%Y-%m-%d %H:%M:%S')

def generate_minute_volumes(df_agg, is_buyer_maker):
    df_filtered = df_agg.loc[df_agg['is_buyer_maker'] == is_buyer_maker]
    df_minute_volumes = df_filtered.resample('5T')['volume'].sum().fillna(0)
    #print(df_minute_volumes)
    return df_minute_volumes

for file in os.listdir(folder_path):
    if file.endswith('.csv'):  # Check if the file is a CSV file
        file_path = os.path.join(folder_path, file)  # Get the full file path

        #df_agg = pd.read_csv(file_path, header=None, names=column_names)
        df_agg = pd.read_csv(file_path)
        df_agg['transact_time'] = pd.to_datetime(df_agg['transact_time'], unit='ms')
        df_agg.set_index('transact_time', inplace=True)
        df_agg['volume'] = df_agg['price'] * df_agg['quantity']

        start_time_str = df_agg.index[0]
        end_time_str = df_agg.index[-1]

        df_maker_true = generate_minute_volumes(df_agg, True)
        df_maker_false = generate_minute_volumes(df_agg, False)

        merged_df = pd.merge(df_maker_true, df_maker_false, left_index=True, right_index=True, how='outer', suffixes=('_true', '_false'))
        merged_df['vdiff(false-true)'] = merged_df['volume_false'] - merged_df['volume_true']
        #merged_df.index = merged_df.index.floor('s')

        # Extract filename without extension
        filename = os.path.splitext(file)[0]
        new_filename = f"{filename}-COINM-5M.csv"  # New CSV filename
        merged_df.to_csv(new_filename)
        current_time = pd.Timestamp.now().strftime("%Y-%m-%d %H:%M:%S")
        print(f"Finished & Saved - {new_filename} - at {current_time}")

Finished & Saved - BTCUSD_PERP-aggTrades-2024-04-01-COINM-5M.csv - at 2024-04-18 14:52:02
Finished & Saved - BTCUSD_PERP-aggTrades-2024-04-02-COINM-5M.csv - at 2024-04-18 14:52:03
Finished & Saved - BTCUSD_PERP-aggTrades-2024-04-03-COINM-5M.csv - at 2024-04-18 14:52:03
Finished & Saved - BTCUSD_PERP-aggTrades-2024-04-04-COINM-5M.csv - at 2024-04-18 14:52:03
Finished & Saved - BTCUSD_PERP-aggTrades-2024-04-05-COINM-5M.csv - at 2024-04-18 14:52:03
Finished & Saved - BTCUSD_PERP-aggTrades-2024-04-06-COINM-5M.csv - at 2024-04-18 14:52:04
Finished & Saved - BTCUSD_PERP-aggTrades-2024-04-07-COINM-5M.csv - at 2024-04-18 14:52:04
Finished & Saved - BTCUSD_PERP-aggTrades-2024-04-08-COINM-5M.csv - at 2024-04-18 14:52:04
Finished & Saved - BTCUSD_PERP-aggTrades-2024-04-09-COINM-5M.csv - at 2024-04-18 14:52:04
Finished & Saved - BTCUSD_PERP-aggTrades-2024-04-10-COINM-5M.csv - at 2024-04-18 14:52:05
Finished & Saved - BTCUSD_PERP-aggTrades-2024-04-11-COINM-5M.csv - at 2024-04-18 14:52:05
Finished & Saved - BTCUSD_PERP-aggTrades-2024-04-12-COINM-5M.csv - at 2024-04-18 14:52:05
Finished & Saved - BTCUSD_PERP-aggTrades-2024-04-13-COINM-5M.csv - at 2024-04-18 14:52:06
Finished & Saved - BTCUSD_PERP-aggTrades-2024-04-14-COINM-5M.csv - at 2024-04-18 14:52:06
Finished & Saved - BTCUSD_PERP-aggTrades-2024-04-15-COINM-5M.csv - at 2024-04-18 14:52:06
Finished & Saved - BTCUSD_PERP-aggTrades-2024-04-16-COINM-5M.csv - at 2024-04-18 14:52:07
Finished & Saved - BTCUSD_PERP-aggTrades-2024-04-17-COINM-5M.csv - at 2024-04-18 14:52:07

### Concat 1 & 5 Minutes Candles into 1 Dataframe & CSV File

In [4]:
import pandas as pd
import numpy as np
import os

folder_path = r"C:\Users\Mcc\Desktop\Project\Data Preprocessing for ML\New folder"
# Create an empty list to store DataFrames
dfs = []

# Iterate through each file in the folder
for file in os.listdir(folder_path):
    if file.endswith('.csv'):  # Check if the file is a CSV file
        file_path = os.path.join(folder_path, file)  # Get the full file path
        df = pd.read_csv(file_path) 
        dfs.append(df)  # Append the DataFrame to the list

# Concatenate all DataFrames in the list along the rows (axis=0) to merge them
df_agg =  pd.concat(dfs, axis=0, ignore_index=True)
df_agg.to_csv('BTCUSDT-aggTrades-2024-04-01-2024-04-17 -COINM- Resampled 5M.csv')

In [23]:
df_agg

              transact_time   volume_true  volume_false  vdiff(false-true)
0       2020-01-01 00:00:00  2.923938e+06  1.262598e+06      -1.661340e+06
1       2020-01-01 00:05:00  2.617190e+05  9.147206e+05       6.530016e+05
2       2020-01-01 00:10:00  1.507198e+06  5.777864e+05      -9.294114e+05
3       2020-01-01 00:15:00  8.612924e+05  4.992924e+05      -3.620001e+05
4       2020-01-01 00:20:00  1.095049e+06  3.311762e+05      -7.638729e+05
...                     ...           ...           ...                ...
446395  2024-03-31 23:35:00  5.205455e+07  8.004229e+07       2.798773e+07
446396  2024-03-31 23:40:00  4.498766e+07  2.265399e+07      -2.233367e+07
446397  2024-03-31 23:45:00  2.521583e+07  1.501450e+07      -1.020133e+07
446398  2024-03-31 23:50:00  2.367741e+07  1.052206e+07      -1.315535e+07
446399  2024-03-31 23:55:00  2.986196e+07  4.816311e+07       1.830115e+07

[446400 rows x 4 columns]

# 3-Preprocessing Funding Rate Data

### Import Data

In [13]:
import pandas as pd
import numpy as np
import os

# Folder path containing CSV files
folder_path = r"C:\Users\Mcc\Desktop\Data\Historical Data\Fundaing Rate"

# Create an empty list to store DataFrames
dfs = []

# Iterate through each file in the folder
for file in os.listdir(folder_path):
    if file.endswith('.csv'):  # Check if the file is a CSV file
        file_path = os.path.join(folder_path, file)  # Get the full file path
        df = pd.read_csv(file_path)  # Read the CSV file into a DataFrame
        dfs.append(df)  # Append the DataFrame to the list

# Concatenate all DataFrames in the list along the rows (axis=0) to merge them
df_fund =  pd.concat(dfs, axis=0, ignore_index=True)
df_fund.to_csv('BTCUSDT-fundingRate-2020-01-2024-03.csv')

In [14]:
df_fund

          calc_time  funding_interval_hours  last_funding_rate
0     1577836800000                       8          -0.000124
1     1577865600000                       8          -0.000124
2     1577894400000                       8          -0.000097
3     1577923200002                       8           0.000037
4     1577952000000                       8           0.000100
...             ...                     ...                ...
4651  1711785600000                       8           0.000323
4652  1711814400000                       8           0.000344
4653  1711843200000                       8           0.000324
4654  1711872000000                       8           0.000399
4655  1711900800001                       8           0.000403

[4656 rows x 3 columns]

In [17]:
df_fund['calc_time'] = pd.to_datetime(df_fund['calc_time'], unit='ms')
df_fund.set_index('calc_time', inplace=True)

In [19]:
df_fund.to_csv('BTCUSDT-fundingRate-2020-01-2024-03.csv')

In [24]:
df_fund

                         funding_interval_hours  last_funding_rate
calc_time
2020-01-01 00:00:00.000                       8          -0.000124
2020-01-01 08:00:00.000                       8          -0.000124
2020-01-01 16:00:00.000                       8          -0.000097
2020-01-02 00:00:00.002                       8           0.000037
2020-01-02 08:00:00.000                       8           0.000100
...                                         ...                ...
2024-03-30 08:00:00.000                       8           0.000323
2024-03-30 16:00:00.000                       8           0.000344
2024-03-31 00:00:00.000                       8           0.000324
2024-03-31 08:00:00.000                       8           0.000399
2024-03-31 16:00:00.001                       8           0.000403

[4656 rows x 2 columns]

### Resample to 1 & 5 Minutes

In [28]:
import pandas as pd

# Assuming df is your DataFrame with the funding rates
# Assuming calc_time is the index of your DataFrame

# Resample to 1-minute frequency and forward fill missing values
df_resampled = df_fund.resample('1T').ffill()

# Generate the complete date range from the start to the end of your desired period
start_date = '2020-01-01 00:00:00.000'
end_date = '2024-03-31 16:00:00.001'
date_range = pd.date_range(start=start_date, end=end_date, freq='5T')

# Reindex the DataFrame with the complete date range
df_complete = df_resampled.reindex(date_range)

# Fill any remaining missing values with the last available value
df_complete = df_complete.ffill()

# If needed, reset index to have 'calc_time' as a column instead of index
df_complete.reset_index(inplace=True)

# Rename the columns if needed
# df_complete = df_complete.rename(columns={'index': 'calc_time'})

# Now df_complete contains funding rates at 1-minute frequency from 2020-01-01 to 2024-03-31 16:00:00.001

In [29]:
df_complete

                     index  funding_interval_hours  last_funding_rate
0      2020-01-01 00:00:00                       8          -0.000124
1      2020-01-01 00:05:00                       8          -0.000124
2      2020-01-01 00:10:00                       8          -0.000124
3      2020-01-01 00:15:00                       8          -0.000124
4      2020-01-01 00:20:00                       8          -0.000124
...                    ...                     ...                ...
446876 2024-03-31 15:40:00                       8           0.000399
446877 2024-03-31 15:45:00                       8           0.000399
446878 2024-03-31 15:50:00                       8           0.000399
446879 2024-03-31 15:55:00                       8           0.000399
446880 2024-03-31 16:00:00                       8           0.000399

[446881 rows x 3 columns]

In [30]:
df_complete.to_csv('BTCUSDT-fundingRate-2020-01-2024-03- Resampled 5M.csv')

# 4-Preprocessing Trading Metrics

In [1]:
import pandas as pd
import numpy as np
import os

# Folder path containing CSV files
folder_path = r"C:\Users\Mcc\Desktop\Data\Historical Data\Trading Metrics (Open Interest,Long Short Ratio)"
#column_names = ["open_time", "open", "high", "low", "close", "volume", "close_time", "quote_volume", 'count', 'taker_buy_volume', 'taker_buy_quote_volume', 'ignore']
# Create an empty list to store DataFrames
dfs = []

# Iterate through each file in the folder
for file in os.listdir(folder_path):
    if file.endswith('.csv'):  # Check if the file is a CSV file
        file_path = os.path.join(folder_path, file)  # Get the full file path
        #df = pd.read_csv(file_path, header=None, names=column_names)  # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path) 
        dfs.append(df)  # Append the DataFrame to the list

# Concatenate all DataFrames in the list along the rows (axis=0) to merge them
df_metrics =  pd.concat(dfs, axis=0, ignore_index=True)
df_metrics.to_csv('BTCUSDT-metrics-2023-12-01-2024-03-31.csv')

In [2]:
df_metrics

,create_time,symbol,sum_open_interest,sum_open_interest_value,count_toptrader_long_short_ratio,sum_toptrader_long_short_ratio,count_long_short_ratio,sum_taker_long_short_vol_ratio
0,2023-12-01 00:00:00,BTCUSDT,82614.213,3.115952e+09,0.954991,1.197795,0.930334,2.425870
1,2023-12-01 00:05:00,BTCUSDT,82589.783,3.111932e+09,0.956054,1.198153,0.929294,0.457242
2,2023-12-01 00:10:00,BTCUSDT,82593.065,3.111460e+09,0.954915,1.197896,0.927344,0.527722
3,2023-12-01 00:15:00,BTCUSDT,82349.986,3.098053e+09,0.959548,1.190894,0.930118,0.524582
4,2023-12-01 00:20:00,BTCUSDT,82300.807,3.096642e+09,0.962558,1.188400,0.933699,0.366157
...,...,...,...,...,...,...,...,...
34430,2024-04-05 23:40:00,BTCUSDT,75099.543,5.094896e+09,1.784664,1.225351,1.632540,0.429269
34431,2024-04-05 23:45:00,BTCUSDT,75238.652,5.110217e+09,1.774768,1.224346,1.627776,1.962471
34432,2024-04-05 23:50:00,BTCUSDT,75259.505,5.115008e+09,1.770136,1.225222,1.625325,1.820958
34433,2024-04-05 23:55:00,BTCUSDT,75257.616,5.112326e+09,1.770403,1.225624,1.625007,0.669555
34434,2024-04-06 00:00:02,BTCUSDT,75172.170,5.098412e+09,1.777301,1.224383,1.627921,0.306517

# 5-Preprocessing Liquidation

In [5]:
import pandas as pd
import numpy as np
import os

# Folder path containing CSV files
folder_path = r"C:\Users\Mcc\Desktop\Data\Historical Data\Liquidation\BTCUSD_COINM-liquidationSnapshot-2024-04-01 - 2024-04-17"
#column_names = ["open_time", "open", "high", "low", "close", "volume", "close_time", "quote_volume", 'count', 'taker_buy_volume', 'taker_buy_quote_volume', 'ignore']
# Create an empty list to store DataFrames
dfs = []

# Iterate through each file in the folder
for file in os.listdir(folder_path):
    if file.endswith('.csv'):  # Check if the file is a CSV file
        file_path = os.path.join(folder_path, file)  # Get the full file path
        #df = pd.read_csv(file_path, header=None, names=column_names)  # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path) 
        dfs.append(df)  # Append the DataFrame to the list

# Concatenate all DataFrames in the list along the rows (axis=0) to merge them
df_liquid =  pd.concat(dfs, axis=0, ignore_index=True)
df_liquid['time'] = pd.to_datetime(df_liquid['time'], unit='ms')
df_liquid.set_index('time', inplace=True)
df_renamed_index = df.rename_axis('date')
df_liquid['original_volume'] = df_liquid['price'] * df_liquid['original_quantity']
df_liquid['last_fill_volume'] = df_liquid['price'] * df_liquid['last_fill_quantity']
df_liquid['accumulated_fill_volume'] = df_liquid['price'] * df_liquid['accumulated_fill_quantity']
df_liquid.to_csv('BTCUSDT-liquidationSnapshot-2023-12-01-2024-03-31-RAW.csv')

In [6]:
df_liquid

,side,order_type,time_in_force,original_quantity,price,average_price,order_status,last_fill_quantity,accumulated_fill_quantity,original_volume,last_fill_volume,accumulated_fill_volume
time,,,,,,,,,,,,
2024-04-01 00:00:00.327,SELL,LIMIT,IOC,38,71102.0,71384.9,FILLED,38,38,2701876.0,2701876.0,2701876.0
2024-04-01 00:00:00.327,SELL,LIMIT,IOC,38,71102.0,71384.9,FILLED,38,38,2701876.0,2701876.0,2701876.0
2024-04-01 00:30:06.042,SELL,LIMIT,IOC,1659,70893.4,71175.6,FILLED,128,1659,117612150.6,9074355.2,117612150.6
2024-04-01 00:30:06.042,SELL,LIMIT,IOC,1659,70893.4,71175.6,FILLED,128,1659,117612150.6,9074355.2,117612150.6
2024-04-01 01:39:30.043,SELL,LIMIT,IOC,196,70702.7,70983.1,FILLED,53,196,13857729.2,3747243.1,13857729.2
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-17 22:59:42.078,BUY,LIMIT,IOC,6,61927.0,61684.0,FILLED,6,6,371562.0,371562.0,371562.0
2024-04-17 23:07:28.029,BUY,LIMIT,IOC,51,61952.4,61709.9,FILLED,23,51,3159572.4,1424905.2,3159572.4
2024-04-17 23:07:28.029,BUY,LIMIT,IOC,51,61952.4,61709.9,FILLED,23,51,3159572.4,1424905.2,3159572.4
2024-04-17 23:26:13.086,SELL,LIMIT,IOC,1,61062.2,61250.0,FILLED,1,1,61062.2,61062.2,61062.2
2024-04-17 23:26:13.086,SELL,LIMIT,IOC,1,61062.2,61250.0,FILLED,1,1,61062.2,61062.2,61062.2

In [7]:
df_1m_liq = df_liquid.resample('5T').sum().fillna(0)
df_1m_liq = df_1m_liq.drop(columns=['order_status','time_in_force','order_type','time_in_force','price','average_price',"original_quantity",'last_fill_quantity','accumulated_fill_quantity'])

In [8]:
# Define a function to check if the value contains 'SELL'
def process_side(value):
    if isinstance(value, str) and 'SELL' in value:
        return 'SELL'
    elif isinstance(value, str) and 'BUY' in value:
        return 'BUY'
    else:
        return value

# Apply the function to the 'side' column
df_1m_liq['side'] = df_1m_liq['side'].apply(process_side)

In [10]:
df_1m_liq.to_csv('BTCUSDT-liquidationSnapshot-2024-04-01-2024-04-17-Resampled 5M.csv')

In [9]:
df_1m_liq

,side,original_volume,last_fill_volume,accumulated_fill_volume
time,,,,
2024-04-01 00:00:00,SELL,5403752.0,5403752.0,5403752.0
2024-04-01 00:05:00,0,0.0,0.0,0.0
2024-04-01 00:10:00,0,0.0,0.0,0.0
2024-04-01 00:15:00,0,0.0,0.0,0.0
2024-04-01 00:20:00,0,0.0,0.0,0.0
...,...,...,...,...
2024-04-17 23:05:00,BUY,6319144.8,2849810.4,6319144.8
2024-04-17 23:10:00,0,0.0,0.0,0.0
2024-04-17 23:15:00,0,0.0,0.0,0.0
2024-04-17 23:20:00,0,0.0,0.0,0.0
2024-04-17 23:25:00,SELL,122124.4,122124.4,122124.4